<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

    <div class="container">

        <div class="card">
            <div class="card-header">
                <h2>Consultas</h2>
            </div>
            <div class="card-body">
                <form action="/searchresult" method="get">
                    <input type="search" name="search" id="search" placeholder="Digite o e-mail ou cpf do cliente"
                        class="form-control" />
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Consulta</th>
                            <th>Pasiente</th>
                            <th>Email</th>
                            <th>CPF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% appos.forEach(appo=> { %>
                            <tr>
                                <td><%= appo.description %></td>
                                <td><%= appo.name %></td>
                                <td><%= appo.email %></td>
                                <td><%= appo.cpf %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>

            </div>
        </div>        
    </div>

<%- include ('partials/footer.ejs')%>